<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Finder</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <meta charset="utf-8" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shop Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/add">Adj hozzá boltot<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Gyorskeresés" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mutasd!</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-10">
    
 	<form th:action="@{/add}" th:object="${shop}" method="post" class="form">
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label>Név</label>
	      <input type="text" class="form-control" th:field="*{name}">
	    </div>
	    <div class="form-group col-md-6">
	      <label>Város</label>
	      <input type="text" class="form-control" th:field="*{address.city}">
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label>Utca</label>
	      <input type="text" class="form-control" th:field="*{address.street}">
	    </div>
	    <div class="form-group col-md-6">
	      <label>Házszám</label>
	      <input type="text" class="form-control" th:field="*{address.houseNumber}">
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-2">
	  	  <p class="day-names">Hétfőtől csütörtökig:</p>
	  	</div>
	    <div class="form-group col-md-5">
	    <label>Nyitás</label>
	      <select class="form-control dropdown" th:field="*{openHours.mondayToThursday.open}">
	      </select>
	    </div>
	    <div class="form-group col-md-5">
	    <label>Zárás</label>
	      <select class="form-control dropdown" th:field="*{openHours.mondayToThursday.close}">
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-2">
	  	  <p class="day-names">Péntek:</p>
	  	</div>
	    <div class="form-group col-md-5">
	    <label>Nyitás</label>
	      <select class="form-control dropdown" th:field="*{openHours.friday.open}">
	      </select>
	    </div>
	    <div class="form-group col-md-5">
	    <label>Zárás</label>
	      <select class="form-control dropdown" th:field="*{openHours.friday.close}">
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-2">
	  	  <p class="day-names">Szombat:</p>
	  	</div>
	    <div class="form-group col-md-5">
	    <label>Nyitás</label>
	      <select class="form-control dropdown" th:field="*{openHours.saturday.open}">
	      </select>
	    </div>
	    <div class="form-group col-md-5">
	    <label>Zárás</label>
	      <select class="form-control dropdown" th:field="*{openHours.saturday.close}">
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-2">
	  	  <p class="day-names">Vasárnap:</p>
	  	</div>
	    <div class="form-group col-md-5">
	    <label>Nyitás</label>
	      <select class="form-control dropdown" th:field="*{openHours.sunday.open}">
	      </select>
	    </div>
	    <div class="form-group col-md-5">
	    <label>Zárás</label>
	      <select class="form-control dropdown" th:field="*{openHours.sunday.close}">
	      </select>
	    </div>
	  </div>
	  <button type="submit" class="btn btn-primary">Sign in</button>
	</form>

    </div>
    <div class="col">

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascript.js"></script>
</body>
</html>