<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Finder</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <meta charset="utf-8" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shop Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/add">Adj hozzá boltot<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Gyorskeresés" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mutasd!</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-10" th:object= "${shop}">

		<table class="table table-bordered">
		    <tr class="thead-custom">
		      <th scope="col">Hétfő</th>
		      <th scope="col">Kedd</th>
		      <th scope="col">Szerda</th>
		      <th scope="col">Csütörtök</th>
		      <th scope="col">Péntek</th>
		      <th scope="col">Szombat</th>
		      <th scope="col">Vasárnap</th>
		    </tr>
		    <tr>
		      <td th:text="${shop.openHours.mondayToThursday.open} + '-' + ${shop.openHours.mondayToThursday.close}"></td>
		      <td th:text="${shop.openHours.mondayToThursday.open} + '-' + ${shop.openHours.mondayToThursday.close}"></td>
		      <td th:text="${shop.openHours.mondayToThursday.open} + '-' + ${shop.openHours.mondayToThursday.close}"></td>
		      <td th:text="${shop.openHours.mondayToThursday.open} + '-' + ${shop.openHours.mondayToThursday.close}"></td>
		      <td th:text="${shop.openHours.friday.open} + '-' + ${shop.openHours.friday.close}"></td>
		      <td th:text="${shop.openHours.saturday.open} + '-' + ${shop.openHours.saturday.close}"></td>
		      <td th:text="${shop.openHours.sunday.open} + '-' + ${shop.openHours.sunday.close}"></td>
		    </tr>
		</table>
		<div>
		   <p><img th:src="${shop.imageName}" th:alt="${shop.name}" class="image">some text here</p>
		</div>
    </div>
    <div class="col">

    </div>
  </div>
</div>
 
</body>
</html>