<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Finder</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <meta charset="utf-8" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Shop Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/add">Adj hozzá boltot<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Gyorskeresés" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mutasd!</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-10">

		<table class="table table-bordered">
		    <tr class="thead-custom">
		      <th scope="col">Név</th>
		      <th scope="col">Város</th>
		      <th scope="col">Utca</th>
		      <th scope="col">Házszám</th>
		      <th scope="col">Részletek</th>
		    </tr>
		    <tr th:each="oneShop : ${shops}">
		      <th scope="row" th:text="${oneShop.name}"></th>
		      <td th:text="${oneShop.address.city}"></td>
		      <td th:text="${oneShop.address.street}"></td>
		      <td th:text="${oneShop.address.houseNumber}"></td>
		      <td><a th:href="@{'/details/' + ${oneShop.id}}" target="_blank">Kattints!</a></td>
		    </tr>
		</table>

    </div>
    <div class="col">

    </div>
  </div>
</div>
 
</body>
</html>